.wrapper {
    display: flex;
    height: 100%;
}

img {
    height: 300px;
    width: 300px;
    float: right;
}

#aboutDialog {
    width: 60vw;
    height: 60vh;
    color: #edb2ed;
    border-color: #cd80cd;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}