/* Challenge */
.app{
    background: #f0f0f0;
    width: 88%;
    max-width: 600px;
    margin: 10px auto 0;
    border-radius: 10px;
    padding: 20px;
    /* display: none; */
}
.app h2{
    font-size: 25px;
    color: #64454e;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #812b3b;
    font-weight: 600;
}
.btn{
    background: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){ /* Tää et ku on valinnu nii ei tuu hoverii */
    background: #222;
    color: white;
}
.btn.disabled{
    cursor: no-drop;
}
#slay-btn{
    background: darkslategray;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none; /* Ei näy ennenku javascript antaa luvan */
}
.correct{
    background: #27ba35;
}
.incorrect{
    background: palevioletred;
}
/* Challenge */