
.container-cow {
    margin: 0 auto;
    padding: 20px;
    height: 100%;

    .cow-header {
        display: flex;
        background: linear-gradient(to bottom, #430559, #dd32ef);
        padding: 1rem;
        justify-content: center;
        text-align: center;
        position: relative;
    }

    .boxes {
        width: 70%;
        float: right;
    }

    .box {
        padding: 0.5rem;
        font-size: x-small;
        border-radius: 6px;
        box-shadow: white 3px 3px 10px;
        margin-bottom: 1rem;
        background-color: purple;
        color: #edb2ed;
    }

    .box h2,
    .box figure {
        margin: 0;
        padding: 0;
    }

    .box table {
        width: 100%;
        text-align: center;
        border: #c7c3c3 solid 1px;
        color: #800080;
        border-radius: 4px;
    }

    #weather {
        border-spacing: 0;
    }

    #weather td {
        padding: 0.3rem;
    }

    #weather td:first-child,
    #weather td:nth-child(2) {
        border-right: lightgray 1px solid;
    }

    .lead-img {
        width: 100%;
        margin: 0 0 1rem 0;
    }

    #find-cow-button {
        cursor: pointer;
        background-color:lightgray;
    }

    header {
        background: linear-gradient(to bottom, #430559, #dd32ef);
        color: whitesmoke;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .title {
        margin: 0 auto;
        font-size: 1.5rem;
        color: lightgrey;
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        .box {
            font-size: initial;
        }

        #cow-map {
            width: 60%;
            height: 32rem;
            overflow: hidden;
            border-radius: 6px;
            box-shadow: white 3px 3px 10px;
            margin-bottom: 1em;
            float: left;
        }

        .boxes {
            width: 40%;
            padding-left: 1rem;
            box-sizing: border-box;
        }
    }
}
#cowDialog {
    width: 75vw;
    height: 90vh;
    color: #edb2ed;
    border-color: #cd80cd;
}
