.wrapper {
    display: flex;
    height: 100%;
}

.space-evenly {
    justify-content: space-evenly;
}

#key {
    height: 50px;
    width: 50px;
}

.container {
    width: 100%;
    position: relative;
}

.page-header {
    background: linear-gradient(to bottom, #430559, #dd32ef);
    padding: 0;
    height: fit-content;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.page-title {
    margin: 0;
    text-align: center;
    font-size: xxx-large;
    color: lightgray;
    padding-left: 7.5rem;
}

.page-footer {
    background: linear-gradient(to bottom, #430559, #dd32ef);
    padding: 1rem;
    text-align: center;
    color: lightgray;
}

ul {
    list-style-type: none;
    padding: 0;
}

.boxes {
    width: 60%;
}

.box {
    padding: 1rem;
    font-size: x-small;
    color: #0a0a0a;
    background-color: grey;
}

#map {
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.3) 3px 3px 10px;
    margin-bottom: 1rem;
    height: 90%;
    width: 40%;
    overflow: hidden;
}

.box table {
    width: 100%;
    text-align: center;
    background-color: lightgray;
    border: whitesmoke solid 1px;
    border-radius: 2px;
}

.box li {
    width: calc(50% - 0.6rem);
    text-align: center;
    border: whitesmoke solid 1px;
    border-radius: 2px;
    box-sizing: border-box;
    padding:0.3rem;
    margin: 0.3rem;
    overflow-wrap: break-word;
}

.goal {
    background-image:url("../img/paint-splatter-12.png");
    background-size:contain;
    background-repeat: no-repeat;
    padding: 9rem 7rem;
    text-align:center;
    color: #dd32ef;
    position: absolute;
    bottom: 30%;
    filter: drop-shadow(0 0 3px #333);
    line-height: 1rem;
    z-index: 999;
}

.goal h2, .goal p {
    margin: 1rem;
    transform: rotate(320deg);
}

.hide{
    display: none;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(97, 44, 133, 0.7);
    padding: 50px;
    border-radius: 10px;
    z-index: 9999;
    outline: 2px solid transparent;
    box-shadow: 0 0 0 2px #7a0d21, 0 0 10px 4px rgb(129, 43, 59);
    color: lightgray;
    font-size: 17px;
}

#player-form {
    text-align: center;
    padding-top: 30px;
}

#player-input {
    width: 90%;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: rgb(25, 30, 31);
    color: lightgray;
}

#player-form input[type="submit"] {
    background-color: #7a0d21;
    color: lightgray;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
}

#player-form input[type="submit"]:hover {
    background-color: #812b3b;
}

#weather td:first-child, #weather td:nth-child(2) {
    border-right: gray 1px solid;
}

@media screen and (min-width: 768px) {
    .box {
        font-size: initial;
    }
    #map {
        width: 60%;
        height: 45rem;
    }
    .boxes {
        width: 60%;
        padding-left: 1rem;
        box-sizing: border-box;
    }
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background: linear-gradient(to bottom, #430559, #dd32ef);
    color: #fff;
    padding: 10px;
}

nav button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #2a2929;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: "Oxanium", sans-serif;
  font-style: normal;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease-out, box-shadow 0.3s, color 0.3s;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  outline: none;
  border: 2px solid transparent;
}


.button::before {
  content: "";
  position: absolute;
  background: radial-gradient(circle, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 70%);
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  z-index: 0;
  transition: all 0.6s ease-out;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

.button:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.button:hover {
  color: white; /* Dark Gray */
  background-color: #9c22a9;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.about:hover,
.game:hover,
.help:hover {
  animation: float 2s infinite alternate;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.red-icon {
    background-color: crimson;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.green-icon {
    background-color: #27ba35;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

canvas {
    position: absolute;
    pointer-events: none;
}