@font-face {
    src: url("Oxanium.ttf") format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Oxanium", sans-serif;
    font-style: normal;
    background-image: url('/img/2474216.jpg');
    background-size: cover;
    background-position: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

main {
        padding: 1rem 2rem;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background: linear-gradient(to bottom, #430559, #dd32ef);
    border-bottom: 1px solid #0a0a0a;
}

.dialog-header h1 {
    margin: 0;
    font-size: 4em;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #0a0a0a;
    background-color: #fff;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    z-index: 1000;
    display: none;
}

.dialog.show {
    display: block;
}