@font-face {
    src: url("Oxanium.ttf") format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Oxanium", sans-serif;
    font-style: normal;
    background-image: url('/img/2474216.jpg');
    background-size: cover;
    background-position: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

main {
        padding: 1rem 2rem;
}

