body {
    font-family: "Oxanium", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('/img/map.JPG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dad4e1;
}

#Start-game {
    text-align: center;
    background-color: rgba(72, 62, 62, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-top: 200px;
    margin-left: 110px;
    margin-right: 110px;
    outline: 2px solid transparent;

}

button {
    padding: 15px 25px;
    background-color: #7a0d21;
    color: lightgray;
    border: lightgrey;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 1.2em;
}

button:hover {
    background-color: #812b3b;
}

.title {
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
}

.gradient-text {
    font-size: 10rem;
    background: linear-gradient(to bottom, #430559, #dd32ef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.gradient-text::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: #fff;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.3);
}